# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv

# mypy
.mypy_cache/

# Visual code
.vscode/

db_vol/

*.db
